<perch:before>
<ul class="productlisting"></perch:before>
    <li><a href="product.php?s=<perch:shop id="productSlug" />" rel="bookmark"><perch:if exists="productImage"><img src="<perch:shop id="productImage" type="image" width="640" height="640" crop="true" />" alt="<perch:shop id="productTitle" />"></perch:if>
        <h2><perch:shop id="productTitle" /></h2>
        </a>
        
        
        <perch:form id="_xclick" method="post" action="https://www.paypal.com/cgi-bin/webscr">
        <perch:input type="hidden" name="business" value="<perch:setting id="perch_shop_paypal_email" />" />
        <perch:input type="hidden" name="currency_code" value="GBP" /> 
        <perch:input type="hidden" name="cmd" value="_cart" />
        <perch:input type="hidden" name="add" value="1" />     
		<perch:input type="hidden" name="item_name" value="<perch:shop id="productTitle" />" />
		<perch:input type="hidden" name="item_number" value="<perch:shop id="productCode" />" />
		<perch:input type="hidden" name="amount" value="<perch:shop id="productPrice" />" />
		
		<perch:if exists="productOptions_html"><perch:shop id="productOptions_html" encode="false" /></perch:if>
		
		<div class="buttons"><perch:input type="submit" name="add" value="Add to cart" /> <span class="price">&pound;<perch:shop id="productPrice" /></span></div>
		</perch:form>
    </li>
<perch:after>
    </ul>

    <perch:if exists="paging">
        <div class="paging">
            Page <perch:shop id="current_page" /> of <perch:shop id="number_of_pages" />
            <perch:if exists="not_first_page">
                <a href="<perch:shop id="prev_url" encode="false" />">Previous</a>
            </perch:if>
            <perch:if exists="not_last_page">
                <a href="<perch:shop id="next_url" encode="false" />">Next</a>
            </perch:if>
        </div>
    </perch:if>
</perch:after>