<perch:if id="category" value="walk">
<tr>
	<td>
		<a href="/events/event-details.php?s=<perch:content id="slug" type="slug" for="heading" />">
        	<perch:content id="heading" type="text" label="Event title" required="true" />
        </a>
    </td>
	<td><perch:content id="event_date" type="date" label="Date of event" format="%A, %e %B %Y"/></td>
	<td><perch:content id="where" type="text" label="Event location" required="true" /></td>
	<td><perch:content id="who" type="text" label="Event contact" required="true" /></td>
</tr>
</perch:if>