<perch:content id="category" type="select" label="Type of Event" options="AGM|agm, Funday|funday, Finnish Lapphund of the Year|FLOTY, Open Show|openshow, Walk|walk, " allowempty="true" suppress="true" />
<h1><perch:content id="heading" type="text" label="Event title" title="true" required="true" /></h1>
<h3><perch:content id="event_date" type="date" label="Date of event" format="%A, %e %B %Y"/></h3>
<h4>Where: <perch:content id="where" type="text" label="Event location" required="true" /></h4>
<h4>Who: <perch:content id="who" type="text" label="Event contact" required="true" /></h4>
<h4>What:</h4>
  <perch:content id="what" type="textarea" label="Event description" textile="true" editor="markitup" required="true" />
<h4>Look out for:</h4>
  <perch:content id="hazards" type="textarea" label="Walk hazards" textile="true" editor="markitup" />
<h4>Closest vet:</h4>
  <perch:content id="vet" type="textarea" label="Vet details" help="Enter information in the following order: Practice name; Address; Contact No." textile="true" editor="markitup" required="true" />
<h4>Closest hospital</h4>
  <perch:content id="hospital" type="textarea" label="Hospital details" help="Enter information in the following order: Hospital name; Address; Contact No." textile="true" editor="markitup" required="true" />
<h4>Facilities:</h4>
  <p>Icons from Bootstrap for toilets, food, drink etc</p>
<h4>Route:</h4>
  <perch:content id="map" type="textarea" label="Map" help="Embed code from map my walk or google maps" textile="true" editor="markitup" html="true" />
<perch:content id="slug" type="slug" for="heading" suppress="true" />