<tr>
	<perch:content type="checkbox" id="bronze_new_addition" value="1" label="New Addition" suppress="true" />
        <perch:if exists="gold_new_addition">
        <td><i class="icon-star"></i></td>
        <perch:else />
        <td></td>
        </perch:if>

	<td><perch:content id="gold_kennel_name" type="text" label="Kennel Name" required="true" title="true" help="Enter Kennel Name for Gold Awards" /></td>
	<td><perch:content id="gold_pet_name" type="text" label="Pet Name" required="true" title="false" help="Enter Pet Name for Gold Awards" /></td>
	<td><perch:content id="gold_pass_date" type="date" label="Pass Date" format="M Y" /></td>
</tr>