<tr>
	<perch:content type="checkbox" id="puppy_new_addition" value="1" label="New Addition" suppress="true" />
        <perch:if exists="puppy_new_addition">
        <td><i class="icon-star"></i></td>
        <perch:else />
        <td></td>
        </perch:if>

	<td><perch:content id="puppy_kennel_name" type="text" label="Kennel Name" required="true" title="true" help="Enter Kennel Name for Bronze Awards" /></td>
	<td><perch:content id="puppy_pet_name" type="text" label="Pet Name" required="true" title="false" help="Enter Pet Name for Bronze Awards" /></td>
	<td><perch:content id="puppy_pass_date" type="date" label="Pass Date" format="M Y" /></td>
</tr>